ul.action__message {
	font-size: 22px;
	@include flex-row-center;
	gap: 15px;

	li {
		cursor: pointer;
		&:not(:last-child) {
			color: $ig-secondary-text;
			transition: color 0.3s;

			&:hover {
				color: $ig-primary-text;
			}
		}

		&:nth-child(2) {
			font-size: 18px;
			transform: translateY(2px) scaleX(-1);
		}
	}

	&.action__reverse {
		flex-direction: row-reverse;
	}
}

.action__mesage_overlay {
	@include border-container;
	overflow: hidden;
	border-radius: 10px;
	span {
		padding: 10px 10px;
		font-weight: 600;
		display: inline-block;
		background-color: $web-always-black;
		color: $web-always-white;
		cursor: pointer;
	}
}
