.ProfileDetailLi {
	font-size: 16px;
	font-weight: 400;
	margin-right: 40px;
	list-style-type: none;
	@media only screen and (max-width: 735px) {
		font-size: 14px;
		font-weight: 400;
		color: rgb(142, 142, 142);
		line-height: 18px;
		text-align: center;
		margin-right: 0;
	}
}
.ProfileDetailSpan {
	font-weight: 600;
	@media only screen and (max-width: 735px) {
		font-weight: 600;
		color: var(--ins-content-primary);
		display: block;
	}
}
.ProfileDetailUl {
	display: flex;
	@media only screen and (max-width: 735px) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 12px 0;
		border-top: 1px solid var(--ins-border-primary);
	}
}
