.ProfileDetailLi {
	font-size: 16px;
	font-weight: 400;
	margin-right: 40px;
	list-style-type: none;
	@include mobile {
		font-size: 14px;
		font-weight: 400;
		color: $silver-color;
		line-height: 18px;
		text-align: center;
		margin-right: 0;
	}
}
.ProfileDetailSpan {
	font-weight: 600;
	@include mobile {
		font-weight: 600;
		color: var($ig-primary-text);
		display: block;
	}
}
.ProfileDetailUl {
	display: flex;
	@include mobile {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 12px 0;
		border-top: 1px solid var($ig-primary-text);
	}
}
