.Stories {
	display: flex;
	justify-content: start;
	padding: 0 24px;
	overflow-x: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	position: relative;
	margin-bottom: 44px;
	background: $ig-primary-background;
	@include mobile {
		padding: 0;
		margin-bottom: 21px;
	}
}
.Stories::-webkit-scrollbar {
	display: none;
}
.Wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 15px;
	color: $ig-primary-text;
	@include mobile {
		padding: 0px 5px;
	}
	.ant-modal-content {
		border-radius: 20px;
		background: red;
	}
}

.ImageWrap {
	padding: 3px;
	border-radius: 1000px;
	border: 1px solid $ig-secondary-text;
}
.Image {
	border-radius: 1000px;
	width: 77px;
	height: 77px;
	display: block;
	@include mobile {
		width: 56px;
		height: 56px;
	}
}
.Title {
	padding-top: 15px;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	@include mobile {
		font-size: 12px;
		padding-top: 8px;
		font-weight: 400;
		width: 65px;
	}
}
