$ig-primary-background: #ffffff;
$ig-elevated-separator: #dbdbdb;
$ig-highlight-background: #efefef;
$ig-primary-text: #262626;
$ig-primary-button: #0095f6;
$ig-error-or-destructive: #ed4956;
$ig-secondary-text: #8e8e8e;
$ig-secondary-background: #fafafa;
$ig-secondary-button-login: #385185;
$web-secondary-action: #e0f1ff;

$font-weight-system-bold: 700;
$font-weight-system-extra-bold: 800;
$font-weight-system-extra-light: 200;
$font-weight-system-light: 300;
$font-weight-system-medium: 500;
$font-weight-system-regular: 400;
$font-weight-system-semibold: 600;
$clay-creek-color: #84885a;
$carrot-orange-color: #ee892d;
$carrot-orange-color2: rgba(238, 137, 45, 0.5);
$royal-blue-color: #6e63e7;
$royal-blue-color-2: #6458e0;
$royal-blue-color-3: #584cd8;
$royal-blue-color2: #5d4ad8;
$lipstick-color: #bf047d;
$stratos-color: #001650;
$silver-color: #bababa;
$zircon-color: #f8faff;
$black-russian-color: #0f0126;
$silver-color-2: #c4c4c4;
$dark-salmon-color: #ec9c8b;
$white-color: #fff;
$silver-color: #bababa;
$lime-green-color: limegreen;
$white-smoke-color: #f3f4f6;
$outer-space-color: #444444;
$crimsom-color: #d72b2a;
$gainsboro-color: #dedede;
$flowerblue-color: #6d9cd1;
$ghostwhite-color: #f8faff;
$snow-color: #fafafa;
$cornflowerblue-color: #4b91ff;
$gray-color: #808089;
$lavender-color: #ebebf0;
$gold-color: #f7db11;
$normal-text: rgb(56, 56, 61);
$red-color: #ff4d4f;
$linen-color: #f4f0e2;
$sinera-color: #95764d;
$yellowgreen-color: #84c52c;
$dim-gray-color: #66666f;
$chocolate-color: #eb8225;
$dark-slate-gray: #1b3e51;
$light-gray-color: #72808e;
$white-smoke-color-1: #f4f5f7;
$primary: #fe2c55;
$search-border-radius: 92px;
$search-button-witdh: 52px;
